.sidebar
  width 350px
  height 100%
  position fixed
  top 0
  left 0
  border-right 1px solid #ccc
  overflow auto
  background white
  box-sizing border-box

.sidebar::-webkit-scrollbar
  display none
