.view
  padding 3em
  h1
    text-align center

.view__container
  padding 0 2em
  position relative

.view__header
  width 100%
  height 50px
  position absolute
  background alpha(primaryColor, 90%)
  top 0
  padding 0 1em
  line-height 50px
  color #fff
  box-sizing border-box

  .login, .user-profile
    float right

.view__content
  padding 2em
