/*
 * Button
 */

.btn
  border 0
  padding 1em 1.5em
  font-size 1rem
  font inherit
  border-radius 3px
  cursor pointer
  display inline-block
  text-decoration none

.btn--primary
  background primaryColor
  color #fff

  &:hover
    background darken(primaryColor, 5)
