.feedback
  width 100%
  height 100%
  position relative
  background-size cover
  overflow auto
  background-size auto
  background-repeat no-repeat
  background-position center

.feedback__description
  width auto
  height auto
  overflow auto
  background #fff
  margin 1em
  padding 1em
  .btn
    float right
