.user-profile
  position relative

  img
    width 23px
    height 23px
    border 2px solid #fff
    border-radius 50%
    vertical-align middle
    margin-right 10px
  .dropdown
    top 100%
  &:hover
    .dropdown
      display block
      opacity 1
      pointer-events auto
.user-profile__wrapper
  cursor pointer

