#end-view
  text-align center
  padding-left 90px
  padding-right 90px

  .column4-5
    text-align left
    padding-left 70px

  .column1-5
    height 380px
    width 270px
    background-repeat: no-repeat
    background-position: center

  .btn
    text-align center
    margin 50px
