#end-view

  .end-view__header
    width 100%
    height 50px
    position absolute
    left 0
    top 0
    background alpha(primaryColor, 90%)
    padding 1em
    color #fff
    box-sizing border-box
    .login, .user-profile
      float right

  padding-left 90px
  padding-right 90px
  text-align center
  background-color #DEF3FA

  .column1-5
    img
      max-width 100%

  .column4-5
    text-align left
    padding-left 2em

  .modal--hidden
    display none

  .modal__dialog
    min-height 0

.end-view-content
  background-color #FFFFFF
  padding 2em
