.problem
  width 100%
  height 100%
  position relative
  background-size cover
  overflow auto

.problem__description
  overflow auto
  background #fff
  margin 1em
  padding 1em
  .btn
    float right
.problem__questions
  width 100%
  position absolute
  bottom 0

.question
  margin 1em 2em
  padding 1em
  cursor pointer
  border 1px solid #ccc
  border-radius 25px
  background rgba(255, 255, 255, 0.8)
  color #0E3984

.question:hover
  box-shadow inset 0 0 0 5px #018BC2
