@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600')

@import "_variables"
@import "modal"
@import "button"

html, body
  width 100%
  height 100%
  overflow hidden

  font-family 'Open Sans', sans-serif
  font-weight 400
  color #333
  font-size 14px

h1
  font-size 4em
  margin 2rem 0

p, ul
  line-height 1.7em


/*
 * Index view
 */

.index-view
  .modal__footer
    text-align center

    p
      font-weight 600
      margin-bottom 2em

    .btn
      padding 1.25em 4em
      font-size 1.2em
