.case-selector
  position relative
  overflow auto
  h2
    text-align center

.case-selector__cases
  height 200px
  position relative

.case-selector__arrow
  position absolute
  left 1em
  top 50%
  font-size 2em
  margin-top -1em
  z-index 2
  cursor pointer
  background #fff
.case-selector__arrow--right
  left auto
  right 1em

.case-selector__cases
  overflow-x hidden

.case-selector__cases__container
  width 300px
  height 100%
  left 50%
  position absolute
  margin-left -150px

.case-selector__cases__slider
  transition left 300ms
  height 100%
  position absolute
  top 0

.case
  float left
  height 100%
  padding 1em
  box-sizing border-box

.case__container
  background backgroundColor
  color #fff
  height 100%
  overflow auto
  padding 1em
  text-align center
  img
    width 80%
  h3
    margin 0.5em 0
