.caselist--selected, .caselist--selected:hover
  background #fff
  color textColor

.case-list
  padding 1em 0
  ul
    list-style none
    padding 0
    margin 0
  li
    padding 0.5em
    &:hover
      background rgba(0, 0, 0, 0.1)
      cursor pointer
  img
    width 30px
    vertical-align middle
    margin-right 0.5em

.case-list__header
  padding 0 0.5em
  margin 0
  margin-bottom 0.5em
