#step-view
  padding 0
  padding-left 300px
  padding-right 400px
  height 100%
  box-sizing border-box
  
  .sidebar
    width 300px
    height 100%
    position absolute
    top 0
    left 0
    border-right 1px solid #ccc
    overflow auto
    background: #DEF3FA
  .sidebar--right
    width 400px
    left auto
    right 0
    border-left 1px solid #ccc
    border-right 0

  .btn
    margin 15px

  .accordion
    margin 1em

  .controls
    text-align center
