#step-view
  padding 0
  padding-left sidebarWidth
  height 100%
  box-sizing border-box

  .sidebar
    padding 1em

  .modal__dialog
    min-height 0%

    #conf-modal
      text-align center

  .modal__footer .btn
    margin 5px

  .accordion
    margin 1em
    margin-bottom 2em

  .person-card
    margin 2em 0

  .btn--icon
    background darken(primaryColor, 8)
    position absolute
    top 0.3em
    left 0.5em

