#step-view
  padding 0
  padding-left 350px
  height 100%
  box-sizing border-box

  .sidebar
    width 350px
    height 100%
    position absolute
    top 0
    left 0
    border-right 1px solid #ccc
    overflow auto
    background: #DEF3FA


  .accordion
    margin 1em

  .controls
    text-align center
