.accordion
  .panel-body
    padding 1em 0

  .panel-group
    .panel
      border 0
      border-bottom 1px solid #ececec
      border-radius 0
      box-shadow none
      margin-bottom 1em

  .panel .panel-heading
    padding 0
    a
      font-weight 300
      padding 0.4em 0
      display block
      width 100%
      height 100%
      box-sizing border-box
    i
      width 1em
      color primaryColor
      margin-right 0.5em
      width 30px
      text-align center
  .panel-group
    .panel-default > .panel-heading
      background transparent
      border 0
      border-radius 0
