#start-view
  padding 0

  .view__header
    background primaryColor
    margin 0
    padding 1em

  h2
    text-align center
    margin-top 2em
    font-weight 300
    strong
      margin-left 0.25em

  .case-selector
    margin-top 2em
