#start-view
  padding 0

  .view__header
    background primaryColor
    margin 0
    padding 1em
    font-weight 300
    text-shadow 1px 1px 0px rgba(255, 255, 255, 0.1)
  h2
    text-align center
    margin-top 2em
    font-weight 300
    strong
      margin-left 0.25em

  .case-selector
    margin-top 2em

  .btn--icon
    background darken(primaryColor, 8)
    position absolute
    top 0.5em
    left 0.5em

  .main-view__header
    width 100%
    height 50px
    position absolute
    background alpha(primaryColor, 90%)
    top 0
    padding 1em
    color #fff
    box-sizing border-box

    .login, .user-profile
      float right
